* {
    font-family: Helvetica;
}

header {
    font-size: 50px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");
}

.price {
    font-weight: bold;
    color: blue;
}

#brushes h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

#frames h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

#paint h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}